<% @square = @squares.shuffle.first %>
<h1><%= @square.coord %></h1>

<% @white = squareAnswerWhite(@square) %>
<% @black = squareAnswerBlack(@square) %>


<%= button_to "White", root_path, :method => "get", params: {a_field: @white, s_field: @square.coord, col_field: @square.color} %>
<%= button_to "Black", root_path, :method => "get", params: {a_field: @black, s_field: @square.coord, col_field: @square.color} %>

<% if @lastSquare && @answer && @color %>
	<p> 
	Last question: <%= @lastSquare %> is <%= @color %> which you got <%= @answer %> 
	</p>
<% end %>



