<!DOCTYPE html>
<html>
<head>
  <title>VisualizeSquare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="topbar">

    <div id="logo">
      <p>marksman</p>
    </div>

    <div id="login">

    <% if !logged_in? %>

    <%= form_tag("/sessions", method:"post") do %>

      <%= text_field_tag :username %>
      <%= password_field_tag :password %>

      <%= submit_tag "Login" %>

    <% end %>

    <% else %>

    <p><%= current_user.username %>

      <%= button_to "Log Out", session_path(session[:user_id]), :method => :delete %>
    </p>



    <% end %>

    </div>

    <div id="links">

      <p> <%= link_to "Home", quiz_index_url %>

      <% if !logged_in? %>

        | <%= link_to "Register", users_new_url %> </p>

      <% end %>

    </div>

  </div>

<%= yield %>

</body>
</html>
