<!DOCTYPE html>
<html>
<head>
  <title>VisualizeSquare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="topbar">

    <div id="logo">
      <p>marksman</p>
    </div>

    <div id="login">

    <form action=#>

      <input type="text" placeholder="Username" name="username">

      <input type="password" placeholder="Password" name="pass">

      <button type="submit">Login</button>

    </form>

    </div>

    <div id="links">

      <p> <%= link_to "Home", quiz_index_url %> | <a href=#>Register</a> </p>

    </div>

  </div>

<%= yield %>

</body>
</html>
